.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0 1pc;
	box-shadow: 0 3px 6px rgba($black, 0.08), 0 3px 6px rgba($black, 0.05);

	header {
		.logo {
			img {
				margin-left: 0.5rem;
				min-width: 55px;
			}
		}
	}

	nav {
		margin-right: 1rem;

		ul {
			padding: 0;
			margin: 0;

			li {
				a {
					color: $light-blue;
					font-weight: 600;
				}
			}
		}
	}
}
