@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}

// Toast
$toast: (
	success: (background: $rag-green, color: #fff),
	warning: (background: $rag-orange, color: #fff),
	error: (background: $rag-red, color: #fff)
);
