@mixin container {
	padding-right: 1pc;
	padding-left: 1pc;
	@include mq($from: tablet) {
		padding-right: 3pc;
		padding-left: 3pc;
	}
	@include mq($from: desktop) {
		padding-right: 72px;
		padding-left: 72px;
	}
}
