html {
	box-sizing: border-box;
}

body {
	font-family: $font;
	position: relative;
	background: linear-gradient(90deg, $green, lighten($green, 20%) 200%);

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 500px;
		background: $off-white;
		transform: skewY(-12deg);
		top: -200px;
		z-index: -1;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

input,
textarea {
	border: none;
	outline: none;
}

button {
	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
}
