// Colours
$black: #000;
$white: #fff;
$off-white: #faf4e9;
$green: #394439;
$opaque-blue: #f0f3f5;
$brown: #8b5a36;

// Font
$font: 'HKGrotesk', sans-serif;

// Rag
$rag-red: #fa594e;
$rag-orange: #ff8d5d;
$rag-green: #3ecf8e;

$bs: 0 3px 6px rgba($black, 0.05), 0 3px 6px rgba($black, 0.02);

// Heights & Widths
$header-height: 80px;

// Timings
$transition: cubic-bezier(.91, .01, .37, .88);
