.container {
	@include container;
	padding-bottom: 2rem;
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 300px;
	grid-gap: 20px;

	.card {
		border-width: 0px 5px;
		background: $light-blue;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
		border-radius: 3px;
	}
}
